<div class="container">
  <nav>
    <ul class="nav_list">
      <li class="nav__item">
        <a class="nav_link" href="/products/">Classes</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/realtimeproducts">Post</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/chat">Help</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/mockingproducts">Extras</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/cart?cid={{user.cartId}}">Cart</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/api/session/logout">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="box">
    <h1>Mocking Products</h1>
    <div class="products-box">
      {{#each products}}
        <div class="product-card">
          <h3>{{this.title}}</h3>
          <hr />
          <p>Categoria: {{this.category}}</p>
          <p>Descripción: {{this.description}}</p>
          <p>Precio: $ {{this.price}}</p>
          <button data-product-id="{{this.id}}" class="add-to-cart-button">Add
            to Cart</button>
        </div>
      {{/each}}
    </div>
    <div class="pagination">
      {{#if prevPage}}
        <a href="/mockingproducts?page={{prevPage}}">Previous</a>
      {{/if}}

      {{#if nextPage}}
        <a href="/mockingproducts?page={{nextPage}}">Next</a>
      {{/if}}
    </div>

  </div>
</div>