<div class="container">
  <nav>
    <ul class="nav_list">
      <li class="nav__item">
        <a class="nav_link" href="/products/">Classes</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/realtimeproducts">Post</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/chat">Help</a>
      </li>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/mockingproducts">Extras</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/cart?cid={{user.cartId}}">Cart</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/api/session/logout">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="box">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/productyesfitness.appspot.com/o/user.png?alt=media&token=827ecd04-6291-4789-a985-856e9d3935b5"
      alt="User Image"
      class="user-image"
    />
    <div class="user-details">
      <a href="/api/ticket/{{user.ticketId}}">see ticket</a>
      <p>Email: {{user.email}}</p>
      <h1>{{#if user.lastName}}{{user.firstName}}
          {{user.lastName}}{{else}}{{user.firstName}}{{/if}}</h1>
      <div class="additional-info">
        <h2>{{#if user.age}}Age: {{user.age}}{{/if}}</h2>
        <h2>Role: {{user.role}}</h2>
      </div>
    </div>
  </div>
</div>